<config>
	<model>
		<path>models/notice.model</path>
		<user>PublisherNotice</user>
		<psw>bizdataService</psw>
	</model>
	<model>
		<path>models/recruitment.model</path>
		<user>PublisherRecruitment</user>
		<psw>bizdataService</psw>
	</model>
	<model>
		<path>models/talk.model</path>
		<user>PublisherTalk</user>
		<psw>bizdataService</psw>
	</model>
</config>